body{
   margin: 0;

   font-family: "Open Sans",sans-serif;
}

h1 {
   -webkit-margin-before: 0.67em;
   -webkit-margin-after: 0.67em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

h2{
   font-family: "Ubuntu",sans-serif;
   font-size: 60px;

   text-align: center;
}

a {
   text-decoration: none;
}

.contenedor {
   height: 100%;
}

#header {
   background-image: url("../images/fondo.jpg");
   background-position: right bottom;
   background-repeat: no-repeat;
   background-size: 100%;

   height: 33%;
   width: 100%;

   font-family: 'Ubuntu',sans-serif;
}

#cssmenu,

#cssmenu ul,
#cssmenu ul li,

#cssmenu ul li a,


#cssmenu #menu-button {
  
   margin: 0;
  
   padding: 0;
  
   border: 0;
  
   list-style: none;
  
   line-height: 2;
  
   display: block;
  
   position: relative;
  
	-webkit-box-sizing: border-box;
  
	-moz-box-sizing: border-box;
  
   box-sizing: border-box;

}


#cssmenu:after,

#cssmenu > ul:after{
  
   content: ".";
  
   display: block;
  
   clear: both;
  
   visibility: hidden;
  
   line-height: 0;
  
   height: 0;

}


#cssmenu #menu-button {
  
   display: none;
}

#cssmenu {
  
   background: black;
   width: auto;
  
   font-family: Ubuntu, sans-serif;
  
   line-height: 2;

}


#cssmenu > ul {
  
   float: right;
   background: black;

   position:relative;
   right: 50%;
}


#cssmenu > ul > li {
  
   float: left;
 
   position: relative;
   left: 50%; 
	-webkit-perspective: 1000px;
  
	-moz-perspective: 1000px;
  
   perspective: 1000px;

}


#cssmenu.align-center > ul {
  
   font-size: 0;
  
   text-align: center;

}


#cssmenu.align-center > ul > li {
  
   display: inline-block;
  
   float: none;

}


#cssmenu.align-right > ul > li {
  
   float: right;

}


#cssmenu > ul > li > a {
  
   padding: 16px 20px;
  
   font-size: 14px;
  
   color: white;
  
   letter-spacing: 1px;
  
   text-transform: uppercase;
  
   text-decoration: none;
  
   background: black;
  
	-webkit-transition: all .3s;
  
	-moz-transition: all .3s;
  
	-o-transition: all .3s;
  
   transition: all .3s;
  
	-webkit-transform-origin: 50% 0;
  
	-moz-transform-origin: 50% 0;
  
   transform-origin: 50% 0;
  
	-webkit-transform-style: preserve-3d;
  
	-moz-transform-style: preserve-3d;
  
   transform-style: preserve-3d;

}


#cssmenu > ul > li.active > a {
  
   color: black;
   background: white;
}


#facebook img{
   float: left;

   height: 40px;
   margin-top: -4%;
   margin-left: 90%;
}

#twitter img{
   float: left;

   height: 40px;
   margin-top: -4%;
   margin-left: 85%;
}

#cssmenu > ul > li:hover > a, 
#cssmenu > ul > li > a:hover {
  
   color: #dff2fa;
  
	-webkit-transform: rotateX(90deg) translateY(-23px);
  
	-moz-transform: rotateX(90deg) translateY(-23px);
  
   transform: rotateX(90deg) translateY(-23px);
  
	-ms-transform: none;

}


#cssmenu > ul > li > a::before {
  
   position: absolute;
  
   top: 100%;
  
   left: 0;
  
   z-index: -1;
  
	-webkit-box-sizing: border-box;
  
	-moz-box-sizing: border-box;
  
   box-sizing: border-box;
  
   width: 100%;
  
   height: 100%;
  
   padding: 16px 20px;
  
   color: black;
  
   background: white;
  
   content: attr(data-title);
  
	-webkit-transition: background 0.3s;
  
	-moz-transition: background 0.3s;
  
   transition: background 0.3s;
  
	-webkit-transform: rotateX(-90deg);
  
	-moz-transform: rotateX(-90deg);
  
   transform: rotateX(-90deg);
  
	-webkit-transform-origin: 50% 0;
  
	-moz-transform-origin: 50% 0;
  
   transform-origin: 50% 0;
  
	-ms-transform: translateY(- -18px);

}


#cssmenu > ul > li:hover > a::before,

#cssmenu > ul > li > a:hover::before {
 
   color:black; 
   background: white;

}


#cssmenu.small-screen {
  
   width: 100%;

}


#cssmenu.small-screen > ul,

#cssmenu.small-screen.align-center > ul {
  
   width: 100%;
  
   text-align: left;

}


#cssmenu.small-screen > ul > li,

#cssmenu.small-screen.align-center {
  
   float: none;
  
   display: block;
  
   border-top: 1px solid rgba(100, 100, 100, 0.1);

}


#cssmenu.small-screen > ul > li:hover > a,

#cssmenu.small-screen > ul > li > a:hover {
  
   color: black;
  
   background: white;
	-webkit-transform: none;
  
	-moz-transform: none;
  
   transform: none;
  
	-ms-transform: none;

}


#cssmenu.small-screen > ul > li > a::before {
  
   display: none;

}


#cssmenu.small-screen #menu-button {
  
   display: block;
  
   padding: 16px 20px;
  
   cursor: pointer;
  
   font-size: 14px;
  
   text-decoration: none;
  
   color: white;
  
   text-transform: uppercase;
  
   letter-spacing: 1px;
  
   background: black;

}


#cssmenu.small-screen 
#menu-button:after {
  
   content: "";
  
   position: absolute;
  
   right: 20px;
  
   top: 17px;
  
   display: block;
  
	-webkit-box-sizing: content-box;
  
	-moz-box-sizing: content-box;
  
   box-sizing: content-box;
  
   border-top: 2px solid #ffffff;
  
   border-bottom: 2px solid #ffffff;
  
   width: 22px;
  
   height: 3px;

}


#cssmenu.small-screen #menu-button.menu-opened:after {
  
   border-top: 2px solid #dff2fa;
  
   border-bottom: 2px solid #dff2fa;

}


#cssmenu.small-screen #menu-button:before {
  
   content: "";
  
   position: absolute;
  
   right: 20px;
  
   top: 27px;
  
   display: block;
  
   width: 22px;
  
   height: 2px;
  
   background: #ffffff;

}


#cssmenu.small-screen #menu-button.menu-opened:before {
  
   background: white;

}


.site-branding {
   background-size: cover;
   border-color: rgb(64, 64, 64);
   border-style: none;
   border-width: 0px;
   border-image-outset: 0px;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   box-sizing: border-box;

   color: rgb(64, 64, 64);
   display: block;
   font-size: 100%;
   font-style: normal;
   font-weight: normal;

   line-height: 1.7778;

   margin: 0 ;
   padding: 7.75em 0;

   outline-color: rgb(64, 64, 64)
   outline-style: none;
   outline-width: 0px;
   position: relative;
   text-align: center;
   vertical-align: baseline;
}

.site-title {
   border-color: rgb(64, 64, 64);
   border-style: none;
   border-width: 0px;
   border-image-outset: 0px;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   box-sizing: border-box;

   color: rgb(64, 64, 64);
   display: table;
   font-size: 70px;
   font-style: normal;
   font-weight: 500;

   height: 100px;
   line-height: 1.25;
   max-width: 960px;

   margin: 0 auto;
   padding: 0;

   outline-color: rgb(64, 64, 64)
   outline-style: none;
   outline-width: 0px;
   position: relative;
   text-align: center;
   text-transform: uppercase;
   vertical-align: baseline;
   z-index: 0;
}

.site-title a {
   border-color: currentcolor;
   border-style: solid;
   border-width: 10px;
   border-image-outset: 0px;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
   box-sizing: border-box;

   color: #222;
   cursor: auto;
   display: block;
   font-size: 100%;
   font-style: normal;
   font-weight: bold;
   letter-spacing: 0.1em;

   line-height: 1.25;

   margin: 0;
   padding: 0 0.25em;

   outline-color: rgb(64, 64, 64)
   outline-style: none;
   outline-width: 0px;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-shadow: 0px 0px 5px white;
   text-transform: uppercase;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
   vertical-align: baseline;
}

#prueba{
}

.site-title img{
   position:absolute;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
   margin-left: -21%;
   margin-bottom: -80%;
   height: 200px;
}
 
.site-title img.novisible{
	opacity:0;
	filter:alpha(opacity=0);
}

.site-title:hover img.novisible{
	opacity:1;
	filter:alpha(opacity=100);
}

.site-title:hover .visible {
	opacity:0;
	filter:alpha(opacity=0);
}

.site-title .visible:hover {
	opacity:0;
	filter:alpha(opacity=0);
}

.social_bookmarks_container {
   width:100%;
   height:65px;
   padding:0;
   position:relative;
}
.social_bookmarks {
   position:relative;
   float:right;
   margin:0;
   padding:0;
}
.social_bookmarks li {
   margin:0 0 1px 1px;
   height:57px;
   width:57px;
   list-style:none;
   float:left;
   padding:0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out; 
   transition: all 0.4s ease-in-out;
}
.social_bookmarks li a {
   float:left;
   width:57px;
   line-height:24px;
   display: block;
   text-indent: -99999px;
   margin:0px;
   outline: none;
   padding:0;
   min-height:57px;
   height:100%;
   ext-decoration:none;
}

.social_bookmarks .icontwitter{
   background: #D8D8D8 url("../images/icon-twitter.png") top left no-repeat;
}

.social_bookmarks .iconfacebook{
   background: #E6E6E6 url("../images/icon-facebook.png") top left no-repeat;
}

.social_bookmarks .iconfacebook:hover{
   background-position:center -57px; 
   background-color: #37589b;
}

.social_bookmarks .icontwitter:hover {
   background-position:center -57px; 
   background-color: #46d4fe;
}

.social_bookmarks li:hover a{background: transparent url(//lh4.googleusercontent.com/-XNviZ_JqvyU/U4vDMDFAX8I/AAAAAAAALLk/E4VIJr1onlo/s57/icon-social-reflect.png) no-repeat;
}
#content {
   margin: auto 15%;
}


#footer {

}

#left-foot {

}

#right-foot {

}